<h1><%= @list.repo %></h1>
<%= render("stars_selector.html") %>
<p><%= @list.description %></p>
<%= for {cat, libs} <- @cats do %>
  <%= render("category.html", category: cat, libs: libs) %>
<% end %>
